.line-content {
    margin: 5px 0 0;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.line-content * {
    box-sizing: border-box;
}

.line-item {
    position: relative;
    width: 100%;
    max-width: 500px;
    margin: 0 auto 10px;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 0 0 1px #ececec;
    opacity: 1;
    transition: box-shadow 0.2s, opacity 0.4s;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}

.line-item-number {
    display: inline-flex;
    flex-direction: row;
    flex-grow: 1;
}
.line-item-number > div {
    margin: 0 5px;
}

.line-item-num-stops {
    display: inline-flex;
    flex-direction: row-reverse;
    flex-grow: 1;
}
.line-item-num-stops > div {
    margin: 0 5px;
}

.line-item:hover {
    cursor: pointer;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.11);
}

.line-stop-wrapper {
    flex-basis: 100%;
    margin-top: 10px;
    border-top: 1px solid #EAEAEA;
}
