.stop-container {
    margin: 10px 15px 0 15px;
    display: flex;
    flex-direction: column;
    align-content: center;
}
.stop-item {
    display: flex;
    flex-wrap: wrap;
}

.stop-item-number {
    display: inline-flex;
    flex-direction: row;
    flex-grow: 1;
}
.stop-item-number > div {
    margin: 0 5px;
}

.stop-item-name {
    display: inline-flex;
    flex-direction: row-reverse;
}
.stop-item-name > div {
    margin: 0 5px;
}

